.element__like{
  background: url(./../../../images/like.svg) no-repeat center center;
  background-size: cover;
  outline: none;
  border: none;
  width: 21px;
  height: 18px;
  padding: 0;
}

.element__like:hover {
  opacity: 0.6;
  cursor: pointer;
}
