.popup__button_type_close{
  background: url(./../../../../images/btn_close.png) no-repeat center top;
  width: 41px;
  height: 41px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.popup__button_type_close:hover{
  opacity: 0.6;
}
