.popup__button_type_submit{
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  height: 50px;
}
.popup__button_type_submit:hover{
  opacity: 0.8;
}
