.popup__button_type_submit{
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  height: 50px;
  -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
/* .popup__button_type_submit:disabled{
  background-color: white;
  border: 1px solid #000000;
  color: black;
  pointer-events: none;
  opacity: 0.2;
} */
