@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__title/profile__title.css);
@import url(./__name/profile__name.css);
@import url(./__editbutton/profile__editbutton.css);
@import url(./__description/profile__description.css);
@import url(./__addbutton/profile__addbutton.css);

.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:40px 0 50px;
  color: #FFFFFF;
}
@media screen and (max-width: 920px) {
  .profile {
    margin:42px auto 36px;
    flex-direction: column;

  }
}
