.profile__avatar{
  max-width: 120px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background: url(../../../images/avatar.jpg) center/cover no-repeat;
}
@media screen and (max-width: 920px) {
  .profile__avatar {
    margin: 0 auto;
  }
}

.profile__avatar:hover .profile__avatar-button {
  display: block;
  background: url(../../../images/pen.svg) rgba(0, 0, 0, .8) center no-repeat;
}



