.profile__button_type_edit{
  background: url(./../../../../images/editbutton.png) no-repeat center center;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1026px) {
  .profile__button_type_edit {
    width: 18px;
    height: 18px;
  }
}
